# **Assignment**

In [ ]:
x=4
y=5
z=x<y
print(z)

True

In [ ]:
x="hello"
y="world"
z=x+y
print(z)

helloworld

In [ ]:
my_list=[1,2,3,4,5]
value=6

if value not in my_list:
    print(f"{value}is not in the list")
else:
    print(f"{value}is in the list")

6is not in the list

In [7]:
a=5
print(a,type(a))
a=5.5
print(a,type(a))
a="hello"
print(a,type(a))
a=[1,2,3]
print(a,type(a))
a={"name":"Richa","age":22}
print(a,type(a))

5 <class 'int'>
5.5 <class 'float'>
hello <class 'str'>
[1, 2, 3] <class 'list'>
{'name': 'Richa', 'age': 22} <class 'dict'>

In [12]:
num = 29
cube =num **3
print(f"the cube of{num}is:{cube}")

the cube of29is:24389

In [24]:
a= True
b= False
print(a and b)
print(a or b)
print(not a)
print(not b)
print(a and (a or b))
print(not(a and b))
print(not(a or b))

False
True
False
True
True
True
False

In [29]:
a=10
b=10
print(a is b)
print(a is not b)
e= None
print(e is None)
print(e is not None)

True
False
True
False

In [30]:
x=5
x *=3
print (x)

15

In [33]:
x=5
print(type(x))
y= "hello"
print(type(y))
z=3.14
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

## **list is ordered and mutable data type**
- list is mutable while tuple is immutable

## **set and dictionary keys cannot store duplicate value.**

In [3]:
a=int(input("enter a number"))
if a<0:
    print('number is negative')
if a>0:
    print('number is positive')

number is negative

In [2]:
a = int(input("enter number"))
if a > 0:
    print("positive number")
else:
    print("negative number")

positive number

In [9]:
a= input("enter a no")
if (a =="a" or a== "e"or a== "i"or a=="o"or a== "u"):
    print("its a vowel")
else:
    print("its not a vowel")

its a vowel

In [10]:
a = 6
b = 9
c = 12
if (a>b and a>c):
    print("a is greatest")
elif (b>a and b>c):
    print("b is greatest")
else:
    print("c is greatest")

c is greatest

## **accept any city from the user and display monument of that city**
- a= Delhi- Red Fort
- b= Agra- Taj Mahal
- c= jaipur- Jal Mahal

In [3]:
city = input("Enter a city")
if (city == "Delhi"):
    print("Red Fort")
elif (city == "Agra"):
    print("Taj Mahal")
elif (city == "jaipur"):
    print("Jal Mahal")
else:
    print("Display a city")

Jal Mahal

## **Wap to check whether a number is divisible by 2 or 3 both or not**

In [3]:
n= int(input("enter a number:"))
if (n%2 == 0 or n%3 == 0):
    print("divisible by 2 or 3")
else:
    print("not divisible by 2 or 3")

divisible by 2 or 3

## **Accept the following from the user and calculate the percentage of class attended**
 - a= Total no of working days
 - b= total no of days absent after calculating percentage show that,if the percentage is less than 75, than student will not be able to sit in exam

In [2]:
a= int(input("enter total no of working days"))
b= int(input("enter total no of days absent"))
p = (a - b)/a*100
if p < 75:
    print("you will not be able to sit in exam")
else:
    print("you will be able to sit in exam")

you will be able to sit in exam

In [6]:
#1-print first 10 natural numbers using for loop.
for b in range (1,11):
    print(b)

1
2
3
4
5
6
7
8
9
10

In [3]:
#2-all even numbers b/w 1 & 50.
for a in range(2,51,2):
    print(a)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [1]:
#3-calculate the sum of all odd numbers b/w 1 to 100.
n = 100
i = 1
sum = 0
while i <= n:
    sum += i
    i = i + 2
print(sum)

2500

In [12]:
#4- print multiplication table of 23.
for a in range(1,11):
    print(23*a)

23
46
69
92
115
138
161
184
207
230

In [2]:
for a in range (1,11):
    print("23*",a,"=",23*a)

23* 1 = 23
23* 2 = 46
23* 3 = 69
23* 4 = 92
23* 5 = 115
23* 6 = 138
23* 7 = 161
23* 8 = 184
23* 9 = 207
23* 10 = 230

In [5]:
#5- program to display numbers from a list using for loop.
list = [25,50,75,100,125,150]
for i in list:
    print(i)

25
50
75
100
125
150

In [3]:
#1-wap to calculate the factorial of a number using a while loop.
n = 6
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print("factorial =", fact)

factorial = 720

In [1]:
n = 5
fact = 1
for i in range (1, n +1):
    fact *= i
print("factorial =",fact)

factorial = 120

In [12]:
#2-create a guessing game where the user has to guess a number b/w 1 & 10. the game should keep asking until the user guesses the correct number
using random module
import random
cnumber = random.randrange(1,10)
userinput = int(input("enter a number"))
if userinput>cnumber:
    print("computer number", cnumber)
    print("your guess number is too high")
elif cnumber> userinput:
    print("computer number",cnumber)
    print("your guess number is too low")
else:
    print("computer number", cnumber)
    print("your guess number is equal")

computer number 5
your guess number is too high

In [5]:
#3-wap that takes a number as input & reverses it using a while loop.
i = int(input("enter number"))
rev = 0
while (i>0):
    rev = (rev*10) +i% 10
    i = i//10
print("reverse=",rev)

reverse= 987654321

In [9]:
#4-wap to count the number of digits in a number using a while loop.

num = 123456
count = 0
while (num != 0):
    num //= 10
    count +=1
print("number of digit:", count)

number of digit: 6