In [1]:
fruits = ['orange','apple','pear','banana','kiwi','apple','banana']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

## **Loops**
## **For Loop**

In [1]:
x = "python"
for y in x:
    print(y)

p
y
t
h
o
n

In [3]:
for a in range(8): #range
    print("welcome")
print()

for a in range(1,5):
    print(a)
print()
for a in range(2,15,5):
    print(a)

welcome
welcome
welcome
welcome
welcome
welcome
welcome
welcome

1
2
3
4

2
7
12

In [7]:
for num in range (1, 10, 3):
    print('level',num)

level 1
level 4
level 7

In [6]:
for i in range (6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [10]:
for b in range(1,11):
    print("2*",b,"=",2*b)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [9]:
for i in range (1, 8):
    print("Na" * i)

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa

In [8]:
for num in range (2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [5]:
for a in range(1,11):
    print(2*a)

2
4
6
8
10
12
14
16
18
20

In [4]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [2]:
fruits = ["apple", "banana", "orange", "grapes"]
for items in fruits:
    print(items)

apple
banana
orange
grapes

In [2]:
for x in fruits:
    print(x)

orange
apple
pear
banana
kiwi
apple
banana

In [3]:
for x in fruits:
    print(x, end= 'ðŸ˜Š')

orangeðŸ˜ŠappleðŸ˜ŠpearðŸ˜ŠbananaðŸ˜ŠkiwiðŸ˜ŠappleðŸ˜ŠbananaðŸ˜Š

In [4]:
for x in fruits:
    print(x, end= ' ')

orange apple pear banana kiwi apple banana

In [5]:
name = "Chandrashekhar"
for i in name:
    print(i)

C
h
a
n
d
r
a
s
h
e
k
h
a
r

In [6]:
name = "Chandrashekhar"
for i in name:
    print(i, end = "")

Chandrashekhar

In [10]:
for i in range (30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [17]:
name = 'Richa Singh'
for i  in name:
    print(i)

R
i
c
h
a

S
i
n
g
h

In [18]:
for name in range (5):
    print("Richa Singh")

Richa Singh
Richa Singh
Richa Singh
Richa Singh
Richa Singh

In [20]:
a = 10
b = 5
sum = a + b
print("sum:", sum)
print("sum of", a, "and" , b, "is" , sum)
print(f"sum of {a} and {b} is {sum}")

sum: 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [5]:

for i in range(1,11):
    print ("15 x" , i ,"=", i*15)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [18]:
#range(10,0,-1)
for n in range(10,0,-1):
    print(n)

10
9
8
7
6
5
4
3
2
1

In [6]:
for i in range(1,11):
    print(f"15 * {i} = {15*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

## **While Loop**

In [11]:
i = 1
while i <= 5:
    print("richasingh")
    i+=1

richasingh
richasingh
richasingh
richasingh
richasingh

In [12]:
count= 1
while count <= 5 :
    print ("richa")
    count += 1

richa
richa
richa
richa
richa

In [14]:
i = 1
while i <= 10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

In [15]:
i = 1
while i <= 10:
    print (4*i)
    i += 1

4
8
12
16
20
24
28
32
36
40

In [17]:
n = int(input("enter a number"))
i = 1
while i <= 10:
    print(n*i)
    i += 1

3
6
9
12
15
18
21
24
27
30

In [19]:
#start
#condition
#increment/decrement

i = 1
while i<=10:
    print(i,"Richa")
    i = i + 1
print(i)

1 Richa
2 Richa
3 Richa
4 Richa
5 Richa
6 Richa
7 Richa
8 Richa
9 Richa
10 Richa
11

In [21]:
n = int (input("enter a no of times loop should run"))
i = 1
sum = 0
while i <= n:
    sum += i
    i += 1
print(sum)

55

In [22]:
n = 100
i = 1
sum = 0
while i <= n:
    sum += i
    i = i + 2
print(sum)

2500

In [23]:
#if i% 2 ==1
sum = 0
for i in range(1,101,2):
    if i % 2 ==1:
        sum += i
        i += 1
print(sum)

2500

### Break Statment
- we can use the break statement with the for loop to terminate the loop when a certain condition

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana','tomato',  'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == "tomato":
        break
    print(fruit)

orange
apple
pear
banana

### Continue Statment
- The continue statment is used to skip the current iteration of the loop and the control flow of the program goes to the next iteration.

In [2]:
fruits = ['orange', 'apple', 'pear', 'banana','tomato',  'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == "tomato":
        continue
    print(fruit)

orange
apple
pear
banana
kiwi
apple
banana

In [3]:
name = "richa"
for n in name:
    if n == "c":
        break
    print(n)

r
i

### enumerate, indexing

In [4]:
items = ['pen', 'pencil', 'eraser', 'sharpner', 'scale', 'book','bag','bottle','lunchbox','tiffin',]
for i, v in enumerate (items):
    if i == 8:
        break
    print(f'{i}: {v}')

0: pen
1: pencil
2: eraser
3: sharpner
4: scale
5: book
6: bag
7: bottle