- how to declare dictionary in different ways
- how to access key and values of dictionary
- how to use loops in dictionary
- nested dictionary

In [50]:
student = {
    "name": "john",
    "class": "12th",
    "roll_no":2,
    "age": 17
    }
print(student) # Dictionary Format

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17}

In [51]:
temp = {
    'lucknow': [25,30,35],
    'delhi' : [30,35,40],
    'chennai' : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [52]:
info = dict(name = 'john', age = 17, roll_no = 2, class_= '12th')
print(info)

{'name': 'john', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [53]:
info2 = dict (name =input('enter your name'),
             age = int(input('enter your age')),
             roll_no = int(input('enter your roll no')),
             class_=input('enter your class'))
print(info2)

{'name': 'Richa', 'age': 22, 'roll_no': 22, 'class_': '12'}

In [54]:
#1st method to access the value of a key
print(student['name'])
print(temp['lucknow'])

john
[25, 30, 35]

In [55]:
#2nd method to access the value of a key
print(student.get('age'))
print(info2.get('roll_no'))

17
22

In [56]:
#to add items in a dictionary
student['city'] = 'lucknow'
student ['school'] = 'DPS'
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow', 'school': 'DPS'}

In [57]:
# to remove items from a dictionary
student.pop('school')
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow'}

In [58]:
#using del method
del student ['roll_no']
print(student)

{'name': 'john', 'class': '12th', 'age': 17, 'city': 'lucknow'}

In [59]:
for k in info:
    print(k)

name
age
roll_no
class_

In [60]:
for k,v in info2 .items():
    print(f"{k}: {v}")

name: Richa
age: 22
roll_no: 22
class_: 12

In [61]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['john', '12th', 17, 'lucknow'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'john'), ('class', '12th'), ('age', 17), ('city', 'lucknow')])

In [62]:
#nested dictionary
company = {
    'emp001' : {'name': 'john', 'age':25, 'dept': 'HR', 'salary':25000},
    'emp002' : {'name' :'emma', 'age':30, 'dept': 'Finance','salary': 30000},
    'emp003' : {'name' :'linda', 'age':35, 'dept': 'IT','salary': 40000},
    'emp004' : {'name' :'david', 'age':40, 'dept': 'admin','salary': 50000},
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 25000}, 'emp002': {'name': 'emma', 'age': 30, 'dept': 'Finance', 'salary': 30000}, 'emp003': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 40000}, 'emp004': {'name': 'david', 'age': 40, 'dept': 'admin', 'salary': 50000}}

In [63]:
from pprint import pp

In [64]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 25000},
 'emp002': {'name': 'emma', 'age': 30, 'dept': 'Finance', 'salary': 30000},
 'emp003': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 40000},
 'emp004': {'name': 'david', 'age': 40, 'dept': 'admin', 'salary': 50000}}

In [65]:
print(company['emp002'])

{'name': 'emma', 'age': 30, 'dept': 'Finance', 'salary': 30000}

In [66]:
print(company['emp002']['dept'])

Finance

In [67]:
print(company['emp004']['age'])

40

In [68]:
#indexing in dictionary
print (temp ['lucknow'][0])
print(temp['delhi'][2])

25
40

In [69]:
print("average temperature of delhi is", sum(temp['delhi'])/len(temp['delhi']))

average temperature of delhi is 35.0